DotNet/AsyncService.Demo/GreetingService.WebHost/GreetingContract/GreetingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--WSDL generated by CTrip WSDL Wizard Tool; version 2.0.9.0-->
<!--Tuesday, 13-10-2015 - 10:41 AM-->
<definitions xmlns:import0="http://soa.ctrip.com/common/types/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:import1="http://soa.ctrip.com/framework/soa/greetingservice/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="GreetingService" targetNamespace="http://soa.ctrip.com/framework/soa/greetingservice/v1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="CTripSOACommonTypes_V1.0.0.xsd" namespace="http://soa.ctrip.com/common/types/v1" />
      <xsd:import schemaLocation="Greeting_V1.0.0.xsd" namespace="http://soa.ctrip.com/framework/soa/greetingservice/v1" />
    </xsd:schema>
  </types>
  <message name="checkHealthIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckHealthRequest" />
  </message>
  <message name="checkHealthOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckHealthResponse" />
  </message>
  <message name="greetingIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:GreetingAsyncRequest" />
  </message>
  <message name="greetingOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:GreetingAsyncResponse" />
  </message>
  <portType name="GreetingServiceInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="CheckHealth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="import1:checkHealthIn" />
      <output message="import1:checkHealthOut" />
    </operation>
    <operation name="Greeting">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="import1:greetingIn" />
      <output message="import1:greetingOut" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_GreetingServiceInterface" type="import1:GreetingServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CheckHealth">
      <soap:operation soapAction="http://soa.ctrip.com/framework/soa/greetingservice/v1:checkHealthIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Greeting">
      <soap:operation soapAction="http://soa.ctrip.com/framework/soa/greetingservice/v1:greetingIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GreetingService">
    <port name="GreetingServicePort" binding="import1:BasicHttpBinding_GreetingServiceInterface">
      <soap:address location="http://localhost/GreetingService" />
    </port>
  </service>
</definitions>