DotNet/AsyncService.Demo/HelloService.WebHost/HelloContract/HelloService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--WSDL generated by CTrip WSDL Wizard Tool; version 2.0.9.0-->
<!--Tuesday, 13-10-2015 - 10:39 AM-->
<definitions xmlns:import0="http://soa.ctrip.com/common/types/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:import1="http://soa.ctrip.com/framework/soa/helloservice/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="HelloService" targetNamespace="http://soa.ctrip.com/framework/soa/helloservice/v1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="CTripSOACommonTypes_V1.0.0.xsd" namespace="http://soa.ctrip.com/common/types/v1" />
      <xsd:import schemaLocation="Hello_V1.0.0.xsd" namespace="http://soa.ctrip.com/framework/soa/helloservice/v1" />
    </xsd:schema>
  </types>
  <message name="checkHealthIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckHealthRequest" />
  </message>
  <message name="checkHealthOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:CheckHealthResponse" />
  </message>
  <message name="helloIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:HelloRequest" />
  </message>
  <message name="helloOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import1:HelloResponse" />
  </message>
  <portType name="HelloServiceInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="CheckHealth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="import1:checkHealthIn" />
      <output message="import1:checkHealthOut" />
    </operation>
    <operation name="Hello">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="import1:helloIn" />
      <output message="import1:helloOut" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_HelloServiceInterface" type="import1:HelloServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CheckHealth">
      <soap:operation soapAction="http://soa.ctrip.com/framework/soa/helloservice/v1:checkHealthIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Hello">
      <soap:operation soapAction="http://soa.ctrip.com/framework/soa/helloservice/v1:helloIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="HelloService">
    <port name="HelloServicePort" binding="import1:BasicHttpBinding_HelloServiceInterface">
      <soap:address location="http://localhost/HelloService" />
    </port>
  </service>
</definitions>